/* shared link */
p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
}

.banner-container {
    background-image: url("../Banner\ Image.png");
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 50px 100px;

}

.banner-text {
    text-align: center;
    color: #FFF;
    font-size: 40px;
    font-weight: 200;
    padding: 100px 300px 150px 300px;
    width: 630px;
    color: #FFF;
    line-height: 60px;
}

/* title section */

.data {
    color: #F00;
    font-size: 88px;
    font-weight: 100;
    font-weight: 700;
    margin-bottom: 30px;


}

.text {
    color: #F00;
}

.banner-title-section {
    text-align: center;



}

.bac {
    background-image: url("../New\ Year\ Photo.png");
    width: 802.9px;
    height: 500px;
    margin-left: 300px;
}

/* Welcome section styles */

.welcome-section {
    background-image: url("../Vectorrr.png");
    width: 1320px;
    height: 600px;
    margin-top: 120px;
    margin-left: 80px;

}

.new-year {
    padding-left: 1000px;
    padding-top: 140px;
    margin-right: 200px;
    width: 200px;
    height: 300px;
    transform: rotate(-45deg);
}

.welcome-text {
    justify-content: space-between;
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    width: 697px;
    height: 100px;
    padding-top: 125px;
    padding-left: 125px;

}


.btn {
    background-color: black;
    color: #FFF;
    padding: 10px;
    border-radius: 6px;
}

/* addres-section styles */

.addres-section {
    background-color: lightgoldenrodyellow;
    width: 1320px;
    height: 482px;
    margin: auto;
    border-radius: 15px;
    margin-top: 80px;
}

.addres-text {
    text-align: center;
    padding-top: 100px;
}

.Text-grphicsa {
    color: #F00;
}

.text-btn {
    width: 120px;
    height: 50px;
    background-color: #F00;
    color: #FFF;
    border-radius: 5px;

}

/* bonus section styls */

.bonus-section {
    display: flex;
    background: #FFF;
    width: 1300px;
    height: 450px;
    margin-top: 120px;
    margin-left: 90px;
    border-radius: 10px;
}

.bonus-come {
    font-size: 38px;
    font-weight: 900;
}

.bonus-img {
    padding- right: 60px;
    border-radius: 463px;
    border: 15px solid #F00;
    width: 366px;
    height: 366px;

}

.bonus-text {
    padding-left: 90px;
    width: 390px;
    height: 100px;
    margin-right: 50px;
    padding-top: 100px;

}

.bonus-years {
    font-size: 48px;
    font-weight: 700;
}

.bonus-secend-description {
    margin-bottom: 70px;
}

.bonus-secend-text {
    padding-right: 300px;
    width: 270px;
    height: 90px;
    margin-left: 70px;
    padding-top: 50px;
}

/* function section styles */

.Function-section {
    width: 1300px;
    max-height: 900px;
    background: #FFF;
    margin-top: 100px;
    margin-left: 90px;
}

.function-title {
    color: #070211;
    font-size: 72px;
    font-weight: 900;

}

.Function-text {
    text-align: center;
    margin-right: 100px;
}

.function-description {
    width: 900px;
    height: 90px;
    margin-left: 260px;
}

.funtion-gift {
    width: 470px;
    margin-bottom: 0%;

}

.fuction-shoping {
    width: 390px;
    height: 380px;
    margin-left: 0px;
}

.discound {
    margin-left: 120px;
}

.background {
    width: 1300px;
    height: 100px;

}


/* gift section styles */

.gift-section {
    width: 1300px;
    height: 1100px;
    background-color: #FFF;
    margin-left: 100px;
    margin-top: 120px;
}

.portfolio-title {
    font-size: 48px;
    font-weight: 900;
}

.gift-img {
    width: 424px;
    height: 450px;
    border-radius: 15px;
}

/* subscrib section */

.subscribe-section {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-left: 100px;
    margin-top: 120px;
}

.gmail-img {
    padding-top: 80px;
}

.subscribe-title {
    font-size: 48px;
    font-weight: 900;
}

.button {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 25px 0px 0px 25px;
    font-size: 18px;

}

.red-button {
    position: relative;
    left: -5px;
    width: 140px;
    height: 40px;
    color: #FFF;
    background-color: #F00;
    border: none;
    outline: none;
    border-radius: 0px 25px 25px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;


}

/* footer section */

.footer-main-section {
    width: 1500px;
    height: 609px;
    background: #070211;
    margin-top: 120px;
    left: -5px;


}

.section-title{
   color: #FFF;
   width: 330px;
   padding-left: 140px;
   padding-top: 100px;
}
.ancor-section{
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 60px;
}
hr{
    width: 1300px;
}
.footer-last-text{
    display: flex;
    color: #FFF;
    margin-left: 100px;
    margin-top: 100px;
}
.sub{
    margin-left: 1050px;
}